.postBlock {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    border: 1px solid #94959a;
    border-radius:12px;
}
.likes{
    padding-left: 20px;
}
.auditories{
    border:1px solid #94959a;
    display: flex;
    padding:0 20px ;
    align-self: flex-end;
}